@import 'tailwindcss';

html {
    font-size: 16px; /* 1rem sera égal à 16px */
}

h2 {
    line-height: 0.7;
}

/*Couleurs ------------------------------*/
:root {
    --chartreuse: #7ff000;
    --jaune: #adb005;
    --noir: #141313;
}

body {
    background: rgba(20, 19, 19, 1);
}

/*Typographies ------------------------------*/

/*Titres*/

.t-owners {
    font-family: 'owners', sans-serif;
    font-weight: 700;
    font-size: 3.7rem;
    text-transform: uppercase;
    color: white;
    position: relative;
}

.t-briller {
    font-family: 'briller', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 3.7rem;
    text-transform: uppercase;
}

.t-owners-vide {
    font-family: 'owners', sans-serif;
    font-weight: 700;
    font-size: 3.7rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.5px #7ff000;
}

.t-briller-vide {
    font-family: 'briller', sans-serif;
    font-weight: 700;
    font-size: 3.7rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.5px #7ff000;
}

/* Logo */

.t-briller-logo {
    font-family: 'briller', sans-serif;
    font-weight: 500;
    color: #7ff000;
    font-size: 30px;
    text-transform: uppercase;
}

.t-briller-logo-vide {
    font-family: 'briller', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.3px white;
}

/* Card genre */
.t-owners-card {
    font-family: 'owners', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
}

.t-briller-card {
    font-family: 'briller', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
}

/*Paragraphes*/
.para {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
    color: white;
    font-size: 1.1rem;
}

.btn-text {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #141313;
    font-size: 1.1rem;
}

.btn-text-game {
    font-family: 'owners', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #141313;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-out;
    transform: translateY(0);
    background: chartreuse;
    background: linear-gradient(to bottom, #579d07, #19c207, #7ff000);
}

.btn-text-game:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 8px 0 0 #6dc000, 0 15px 20px rgba(0, 0, 0, 0.3);
}

.btn-text-game:active {
    transform: translateY(0.125rem);
    box-shadow: 0 4px 0 0 #6dc000, 0 8px 10px rgba(0, 0, 0, 0.3);
}

/*div blur*/
.bg-blur {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    backdrop-filter: blur(8px); /* Flou du fond */
    border-radius: 35pt;
    border: 0.1px solid #262424;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}
