@import 'tailwindcss';

html {
    font-size: 16px; /* 1rem sera égal à 16px */
}

h2 {
    line-height: 0.7;
}

/*Couleurs ------------------------------*/
:root {
    --chartreuse: #7ff000;
    --jaune: #adb005;
    --noir: #141313;
    --chartreuse: #7ff000;
    --jaune: #adb005;
    --noir: #141313;
}

body {
    background: rgba(20, 19, 19, 1);
}

/* Evite les décalages à cause de la scroll bar */
html {
    overflow-y: scroll;
    margin-left: 0;
}

/*Typographies ------------------------------*/

/*Titres*/

.t-owners {
    font-family: 'owners', sans-serif;
    font-family: 'owners', sans-serif;
    font-weight: 700;
    font-size: 3.7rem;
    text-transform: uppercase;
    color: white;
    position: relative;
}

.t-briller {
    font-family: 'briller', sans-serif;
    font-family: 'briller', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 3.7rem;
    text-transform: uppercase;
}

.t-owners-vide {
    font-family: 'owners', sans-serif;
    font-family: 'owners', sans-serif;
    font-weight: 700;
    font-size: 3.7rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.5px #7ff000;
    color: transparent;
    -webkit-text-stroke: 0.5px #7ff000;
}

.t-briller-vide {
    font-family: 'briller', sans-serif;
    font-family: 'briller', sans-serif;
    font-weight: 700;
    font-size: 3.7rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.5px #7ff000;
}

.t-owners-test {
    font-family: 'owners', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.t-briller-test {
    font-family: 'briller', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.t-briller-vide-test {
    font-family: 'briller', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.5px #7ff000;
}

.t-owners-vide-test {
    font-family: 'owners', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.5px #7ff000;
}

/*titres blind test genre*/
.text-fluid {
    font-family: 'briller', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.5px #7ff000;
    font-size: 2.5rem;
    line-height: 3rem;
}

/* Logo */

.t-briller-logo {
    font-family: 'briller', sans-serif;
    font-weight: 500;
    color: #7ff000;
    font-size: 30px;
    text-transform: uppercase;
}

.t-briller-logo-vide {
    font-family: 'briller', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.3px white;
}

/*footer typo*/
.titre-footer-owners {
    font-family: 'owners', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #7ff000;
}

.titre-footer-briller {
    font-family: 'briller', sans-serif;
    font-weight: 700;
    color: #7ff000;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.para-footer {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
    color: white;
    font-size: 0.9rem;
}

/* Card genre */
.t-owners-card {
    font-family: 'owners', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
}

.t-briller-card {
    font-family: 'briller', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
}

/*Paragraphes*/
.para {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
    font-variation-settings: 'wdth' 100;
    color: white;
    font-size: 1.1rem;
}

.btn-text {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #141313;
    font-size: 1.1rem;
}

.btn-text-game {
    font-family: 'Futura Lt BT';
    font-optical-sizing: auto;
    line-height: 100%;
    font-style: normal;
}

/*div blur*/
.bg-blur {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    backdrop-filter: blur(8px); /* Flou du fond */
    border-radius: 35pt;
    border: 0.1px solid #262424;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}

.bg-blur-nav {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    backdrop-filter: blur(8px); /* Flou du fond */
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}

/* search bar */

.bg-search {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.11) 5.3%, rgba(32, 32, 32, 0.11) 92.12%);
    backdrop-filter: blur(16.882352828979492px);
    box-shadow: -2.95px 2.95px 6.33px 0px rgba(0, 0, 0, 0.15);
}

.search {
    font-family: 'briller', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

/* Shadow box */

.shadow-box {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.11) 5.3%, rgba(32, 32, 32, 0.11) 92.12%);
    border: 1px solid #ffffff1a;
    backdrop-filter: blur(40px);
    box-shadow: -7px 7px 15px 0px #00000026;
    width: 687px;
    height: 764px;
}

/*animation*/
/* Container for the scrolling text */
.scrolling-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

/* The actual scrolling text */
.marquee1 {
    display: inline-block;
    animation: scrollText1 20s linear infinite;
    font-size: 24px; /* Ajuste la taille selon tes préférences */
    white-space: nowrap;
}

/* Keyframes pour un défilement continu */
@keyframes scrollText1 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee2 {
    display: inline-block;
    animation: scrollText2 20s linear infinite;
    font-size: 24px; /* Ajuste la taille selon tes préférences */
    white-space: nowrap;
}

/* Keyframes pour un défilement continu */
@keyframes scrollText2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.container-text-genre {
    width: 100%;
    height: 2.5rem;
    max-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
}

.text-box {
    display: inline-block;
    white-space: nowrap;
    font-family: 'briller', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.5px #7ff000;
    line-height: 3rem;
}

.thumb-custom::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #7ff000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

/* TEST  */
.blur-color-green {
    background: radial-gradient(circle at 95% 85%, rgba(127, 240, 0, 0.658) -50%, rgba(0, 120, 38, 0) 30%);
}

.blur-color-yellow {
    background: radial-gradient(circle at 50% 50%, rgba(173, 176, 5, 0.6) 0%, rgba(120, 114, 0, 0) 100%);
}
